@import "helpers/fonts"
@import "helpers/normalize"
@import "helpers/bourbon"
@import "helpers/mixins"
@import "sections/hab_Suites"
@import "sections/habitaciones"
@import "sections/finestra"
@import "sections/restaurante"
@import "sections/servicios"
@import "sections/contacto"

$lila: #584880
$morado: #470052
$verde-claro: #33CC99
$verde-oscuro: #038A6E
$verde-medio: #00A06D

$font-nav: 'Arsenal-Italic'

*
  padding: 0
  margin: 0
  box-sizing: border-box

html
  box-sizing: border-box
  overflow-x: hidden

html, body
  height: 100%
  width: 100%

h1
  margin: 0

h2
  font-family: 'playball'
  font-size: 200%
p
  font-size: 100%
  font-family: 'Arsenal-Regular'

img
  border-radius: 5px

.desktop, .tablet
  display: none

section
  position: relative
  h2
    color: $morado
  #banner-principal
    background-image: url("../images/fotografia/bg-home.jpg")
    background-attachment: fixed
    @include backgroundImage
    background-size: cover
    height: 100vh
    margin: 0
    position: relative
    z-index: 1
    aside
      @include flexBox
      flex-flow: row wrap
      height: auto
      position: fixed
      right: 0
      top: 25%
      transform: translateY(-25%)
      width: 60px
      z-index: 3
      a:hover
        border: 0
        padding: 0
      a
        img
          display: block
          margin: 7px auto 0
          width: 70%
    section.contenido-texto-banner
      @include centrarVH
      height: auto
      position: absolute
      width: 100%
      span
        background-image: url("../images/logo-finestra-blanco.png")
        @include backgroundImage
        //@include centrarHorizontalmente
        height: 110px
        position: absolute
        top: -90px
        width: 100%
        z-index: 1
      section
        background-color: rgba(3, 138, 110, 0.5)
        margin: 0 auto
        padding: 40px 20px
        width: 80%
        p
          color: #fff
          text-align: center
    a
      cursor: pointer
      span
        background-image: url("../images/icono-abajo.png")
        bottom: 100px
        display: block
        height: 48px
        @include flechaMov
        @include backgroundImage
        @include centrarHorizontalmente
        position: absolute
        width: 65px
        z-index: 1
  #banner-principal::before
    background-color: rgba(71, 0, 82, 0.4)
    content: ''
    display: block
    height: 100%
  #banner-principal::after
    content: url("../images/cenefa.png")
    bottom: -5px
    left: -733px
    position: absolute
    width: 100%
  #bienvenida
    height: auto
    margin: 0 auto
    position: relative
    width: 80%
    section
      padding: 20px 0
      p
        line-height: 1.5
        margin: 30px auto
      &:first-child
        span
          @include backgroundImage
          @include separador
        p
          margin: 20px 0
          text-align: left
          width: 77%
      &:nth-child(2)
        section
          position: relative
          span
            background-color: $lila
            bottom: 0
            display: block
            height: 50px
            position: absolute
            right: 0
            width: 150px
          img
            display: block
            height: 250px
            margin: 0 auto
            position: relative
            width: 250px
      &:last-child
        p
          text-align: center
          width: 79%
    div
      position: absolute
      top: 0
      width: 100%
      span
        position: absolute
        &:first-child
          right: -41px
          img
            filter: blur(2px)
            float: right
            width: 30%
        &:nth-child(2)
          left: -150px
          top: 160px
          img
            width: 50%
        &:last-child
          right: -60px
          top: 340px
          img
            float: right
            width: 80%

  #servicios
    height: 590px
    position: relative
    section
      &:first-child
        background-image: url("../images/fotografia/bg-servicios.jpg")
        @include backgroundImage
        background-size: cover
        display: block
        width: 100%
        height: 300px

      &:nth-child(2)
        background-color: #fff
        border-radius: 5px
        bottom: 40px
        box-shadow: 3px 5px 8px #ccc
        @include centrarHorizontalmente
        height: auto
        margin: 0 auto
        padding: 20px
        position: absolute
        width: 73%
        h2
          padding: 10px 0 5px
          text-align: center
        p
          line-height: 1.5
          margin: 0 auto
          text-align: center
          width: 90%
        a
          @include verMas
    div
      position: absolute
      top: 0
      width: 100%
      span
        left: -50px
        position: absolute
        top: -10px
        img
          filter: blur(2px)
          width: 30%
  #habitaciones
    height: auto
    margin: 70px auto
    position: relative
    width: 80%
    section
      position: relative
      &:first-child
        margin: 10px auto 60px
        h2
          line-height: 1
          margin: 0 auto
          text-align: center
          width: 90%
        span
          @include separador
          right: 0px
          top: -20px
      &:nth-child(2)
        height: 250px
        span
          background-color: $lila
          bottom: 80px
          display: block
          height: 50px
          left: 50%
          position: absolute
          transform: translateX(-50%)
          width: 230px
        img
          display: block
          margin: 0 auto
          position: relative
          width: 90%
      &:nth-child(3)
        p
          line-height: 1.5
          text-align: center
        a
          @include verMas
    div
      position: absolute
      top: 0
      width: 100%
      span
        position: absolute
        img
          width: 50%
        &:first-child
          right: -130px
          top: -480px
          img
            float: right
        &:last-child
          left: -100px
          top: -320px
  #slogan
    height: auto
    margin: 0 auto 100px
    width: 80%
    p
      font-size: 150%
      font-family: 'allura'
      text-align: center

@media all and (min-width: 360px)
  section
    #habitaciones
      section:nth-child(2)
        span
          bottom: 50px

@media all and (min-width: 412px)
  section
    #habitaciones
      section:nth-child(2)
        span
          bottom: 30px

@media all and (min-width: 480px)
  section
    #banner-principal
      a
        span
          bottom: 30px
    #banner-principal::after
      left: -663px
    #bienvenida
      height: 780px
      section:nth-child(2)
        section
          span
            right: 43px
      div
        span
          &:first-child
            right: -61px
          &:nth-child(2)
            left: -160px
            top: 60px
          &:last-child
            right: -60px
            top: 200px

    #servicios
      section
        &:nth-child(2)
          bottom: 66px
          width: 55%
      div
        span
          top: -250px

    #habitaciones
      height: 530px
      section
        &:nth-child(2)
          img
            width: 80%
      div
        span
          &:first-child
            top: -800px
          &:last-child
            top: -900px

@media all and (min-width: 567px)
  section
    #bienvenida
      section:nth-child(2)
        section
          span
            right: 83px
    #habitaciones
      section
        &:nth-child(2)
          height: 295px

@media all and (min-width: 640px)
  section
    #bienvenida
      section:nth-child(2)
        section
          span
            right: 123px
    #habitaciones
      section
        &:nth-child(2)
          height: 350px
          span
            bottom: 15px


//TABLETS
@media all and (min-width: 737px)
  .desktop
    display: none
  .tablet
    display: block


  section
    #banner-principal::after
      left: -480px
    #banner-principal
      section.contenido-texto-banner
        span
          top: -85px
        section
          padding: 60px 20px
          width: 60%
          p
            font-size: 130%
    #bienvenida
      height: auto
      section
        &:first-child
          height: 245px
          span
            right: auto
          p
            float: right
            width: 50%
        &:nth-child(2)
          section
            margin: 0 auto
            width: 50%
            span
              right: -30px
            img
              width: 100%
        &:nth-child(3)
          width: 50%
          p
            text-align: left
      div
        height: 100%
        span
          &:nth-child(2)
            left: -70px
            top: 130px
          &:last-child
            right: -130px
            top: 350px
    #servicios
      height: 500px
      section
        &:nth-child(2)
          bottom: 0
          left: auto
          padding: 20px
          right: 70px
          transform: none
          width: 50%
      div
        span
          left: -10px
          top: 0
    #habitaciones
      height: 330px
      margin: 0 auto
      position: relative
      width: 88%
      section
        &:first-child
          margin: 0
          position: absolute
          top: -20px
          h2
            margin: 35px 0 0 0
            text-align: left
            width: 80%
          span
            left: 50px
            right: 0
            top: 130px
        &:nth-child(2)
          bottom: 0
          height: auto
          position: absolute
          width: 50%
          span
            bottom: -20px
            left: auto
            transform: none
            right: 0
        &:nth-child(3)
          position: absolute
          right: 0
          top: 120px
          width: 40%
          p
            text-align: left
          a
            float: left
      div
        span
          &:first-child
            right: -70px
            top: -200px
          &:last-child
            left: -70px
            top: -210px
    #slogan
      height: 165px
      margin: 160px auto 50px
      width: 70%
      p
        font-size: 200%


@media all and (min-width: 1024px)
  .desktop
    display: block
  .tablet
    display: none


  section
    #banner-principal::after
      left: -361px
    #banner-principal
      section.contenido-texto-banner
        section
          width: 40%
      aside
        top: 50%
        transform: translateY(-50%)
    #bienvenida
      height: 860px
      position: relative
      width: 90%
      section
        &:first-child
          span
            left: 150px
          p
            margin: 30px 110px 0 0
            width: 30%
        &:nth-child(2)
          height: 540px
          position: relative
          section
            height: auto
            position: absolute
            width: auto
            &:first-child
              left: 0
              width: 53%
              span
                bottom: auto
                height: 110px
                left: 0
                right: auto
                top: 0
                width: 210px
              img
                height: 250px
                margin: 0 24px
                width: 400px
            &:nth-child(2)
              bottom: 0
              @include centrarHorizontalmente
              z-index: 2
              width: 40%
              span
                height: 110px
                left: auto
                right: 70px
                width: 163px
              img
                width: 60%
            &:last-child
              right: 0
              top: 110px
              span
                bottom: auto
                height: 110px
                left: auto
                right: 0
                top: 0
                width: 210px
              img
                float: right
                height: 220px
                margin: 0 24px
                width: 400px
        &:nth-child(3)
          bottom: 0
          position: absolute
          width: 33%
      div
        span
          &:first-child
            right: 0
          &:nth-child(2)
            top: 20px
          &:last-child
            top: 440px
            img
              width: 100%
    #servicios
      height: 500px
      section
        &:first-child
          height: 370px
        &:nth-child(2)
          width: 30%
      div
        span
          left: 0
          top: 90px
    #habitaciones
      height: 450px
      section
        &:first-child
          h2
            padding-left: 60px
          span
            left: 167px
        &:nth-child(2)
          height: 258px
          span
            bottom: 0
          img
            float: none
        &:last-child
          right: 50px
          width: 35%
      div
        span
          &:first-child
            top: -270px
          &:last-child
            top: -260px
    #slogan
      height: 255px
      width: 50%
      p
        font-size: 200%

//DESKTOP
@media all and (min-width:1124px)

  section
    #banner-principal::after
      left: -155px
    #bienvenida
      width: 80%
      section
        p
          font-size: 120%
        &:first-child
          margin: 0 auto
          width: 90%
          p
            margin-right: 60px
            width: 40%
      div
        span
          &:first-child
            right: -90px
          &:nth-child(2)
            left: -160px
          &:last-child
            right: -171px
    #servicios
      height: 700px
      section
        &:first-child
          height: 520px
        &:nth-child(2)
          height: 390px
          padding: 40px
          right: 70px
          p
            font-size: 120%
            margin: 30px auto
      div
        span
          left: 120px
    #habitaciones
      height: 570px
      width: 80%
      section
        p
          font-size: 120%
        &:first-child
          left: 120px
        &:nth-child(2)
          height: 320px
          width: 40%
          span
            bottom: 11px
            right: -20px
          img
            width: 100%
        &:nth-child(3)
          margin-right: 170px
          top: 190px
          width: 25%
      div
        span
          &:first-child
            right: -130px
            top: -490px
            img
              width: 60%
          &:last-child
            left: -180px
            top: -460px
            img
              width: 70%

    #slogan
      height: 385px
      p
        font-size: 300%
        padding-top: 80px

//DESKTOP Hi-Res
@media all and (min-width:1440px)

  section
    #hojas
      span
        top: 680px
      span.left
        top: 880px
        img
          width: 50%
      span#morada
        top: 1100px
        img
          width: 100%
      span#hoja-hab
        top: 1660px
      span#hoja-der-slogan
        top: 1850px
      span#hoja-pino-slogan
        top: 1850px
