@import "helpers/fonts"
@import "helpers/normalize"
@import "helpers/menu-mobile"
@import "helpers/bourbon"
@import "helpers/mixins"


$lila: #584880
$morado: #470052
$verde-claro: #33CC99
$verde-oscuro: #038A6E
$verde-medio: #00A06D

$font-nav: 'Monserrat-light'

*
  padding: 0
  margin: 0
  box-sizing: border-box

html
  box-sizing: border-box
  overflow-x: hidden

html, body
  width: 100%
  height: 100%

h1 , h2 , h3
  font-family: 'Monserrat-bold'
  margin: 0

p
  font-family: 'Monserrat-regular'

.desktop, .tablet
  display: none

.menu-oculto
  display: none
  transition-duration: 0.8s


#header
  height: 100%
  position: absolute
  div.menu
    height: 100%
    overflow: auto
    width: 100%
    div:first-child
      p
        color: $verde-claro
        font-size: 12px
        left: 50%
        position: absolute
        top: -15px
        transform: translateX(-50%)
    nav
      ul
        li
          span
            font-family: $font-nav
            line-height: 2
          span:hover
            border: 3px solid $verde-claro
            padding: 5px 20px
      section
        margin: 30px auto
        position: relative
        width: 90%
      section:nth-child(2)
        border-bottom: 1px solid $verde-claro
        img
          display: block
          margin: 10px auto
          width: 30%
        h1
          font-size: 50%
          padding-bottom: 10px
          text-align: center
          width: 100%

      section:last-child
        a:hover
          border: 0
          padding: 0
        div#redes-menu
          @include flexBox
          width: 100%
          a
            font-size: 70%
        div#contacto-menu
          @include flexBox
          span
            background-image: url("../images/icono-telefono.png")
            @include backgroundImage
            height: 30px
            width: 30px
          a
            font-size: 60%

section
  h2
    color: $morado
  #banner-principal
    background-image: url("../images/fotografia/bg-home.jpg")
    background-attachment: fixed
    @include backgroundImage
    background-size: cover
    height: 100vh
    position: relative
    aside
      @include flexBox
      flex-flow: row wrap
      height: auto
      position: fixed
      right: 0
      top: 25%
      transform: translateY(-25%)
      width: 60px
      z-index: 1
      a
        img
          display: block
          margin: 7px auto 0
          width: 70%
    section.contenido-texto-banner
      @include centrarVH
      height: auto
      position: absolute
      width: 100%
      span
        background-image: url("../images/icono-finestra-blanco.png")
        @include backgroundImage
        @include centrarHorizontalmente
        height: 90px
        position: absolute
        top: -55px
        width: 30%
      section
        background-color: rgba(3, 138, 110, 0.5)
        margin: 0 auto
        padding: 40px 20px
        width: 80%
        p
          color: #fff
          text-align: center
    a
      span
        background-image: url("../images/icono-abajo.png")
        bottom: 100px
        display: block
        height: 48px
        @include backgroundImage
        @include centrarHorizontalmente
        position: absolute
        width: 65px
  #banner-principal::before
    background-color: rgba(71, 0, 82, 0.4)
    content: ''
    display: block
    height: 100%
  #banner-principal::after
    content: url("../images/cenefa.png")
    bottom: -5px
    left: -490px
    position: absolute
    width: 100%
  #bienvenida
    height: auto
    margin: 0 auto
    width: 80%
    section
      padding: 20px 0
      p
        line-height: 2
        margin: 30px auto
      &:first-child
        span
          @include backgroundImage
          @include separador
        p
          text-align: left
          width: 70%
      &:nth-child(2)
        section
          position: relative
          span
            background-color: $lila
            bottom: 0
            display: block
            height: 50px
            position: absolute
            right: 0
            width: 150px
          img
            display: block
            height: 280px
            margin: 0 auto
            position: relative
            width: 280px
            z-index: 1
      &:last-child
        p
          text-align: center
  #servicios
    height: 590px
    position: relative
    section
      &:first-child
        background-image: url("../images/fotografia/bg-servicios.jpg")
        @include backgroundImage
        background-size: cover
        display: block
        width: 100%
        height: 300px

      &:last-child
        background-color: #fff
        bottom: 40px
        box-shadow: 3px 5px 8px #ccc
        @include centrarHorizontalmente
        height: auto
        margin: 0 auto
        padding: 20px
        position: absolute
        width: 75%
        h2
          padding: 10px 0 5px
          text-align: center
        p
          line-height: 1.5
          margin: 0 auto
          text-align: center
          width: 90%
        a
          @include verMas
  #habitaciones
    height: auto
    margin: 70px auto
    width: 80%
    section
      position: relative
      &:first-child
        margin: 10px auto 110px
        h2
          margin: 0 auto
          text-align: center
          width: 60%
        span
          @include separador
          right: 20px
          top: -20px
      &:nth-child(2)
        height: 250px
        span
          background-color: $lila
          bottom: 30px
          display: block
          height: 50px
          left: 50%
          position: absolute
          transform: translateX(-50%)
          width: 230px
        img
          display: block
          margin: 0 auto
          position: relative
          width: 90%
      &:last-child
        p
          text-align: center
        a
          @include verMas
  #slogan
    height: auto
    margin: 0 auto 100px
    width: 80%
    p
      font-size: 150%
      text-align: center


footer::before
  content: url("../images/cenefa-footer.png")
  left: -490px
  position: absolute
  top: -229px
  width: 100%
footer
  background-color: #0d0b12
  clear: both
  display: block
  height: auto
  padding: 50px
  position: relative
  width: 100%

  // contenido info bancaria y ubicacion
  section:first-child
    section
      padding: 10px 0
      h3
        color: $verde-claro
      hr
        border: 3px solid $verde-claro
        width: 20%
      p , a , li
        font-size: 75%
      p , li
        color: #fff
      p
        b
          color: $verde-claro
      ul
        list-style: none
      ul, p
        line-height: 1.3
        padding-top: 10px
      // Ubicacion
      &:last-child
        section:first-child
          img
            display: block
            margin: 10px auto
            width: 40%
          h2
            color: $verde-claro
            font-size: 98%
            text-align: center
        section:last-child
          section:first-child
            iframe
              display: block
              margin: 0 auto
              width: 80%
          section:last-child
            div
              @include flexBox
              justify-content: flex-start
              margin: 0 auto
              width: 80%
              span
                display: block
                height: 20px
                @include backgroundImage
                margin: 3px 5px
                width: 20px
              a
                color: #fff
              &:first-child
                span
                  background-image: url("../images/icono-ubicacion.png")
              &:last-child
                span
                  background-image: url("../images/icono-telefono.png")
  // Redes sociales
  section:last-child
    section#redes-footer
      @include flexBox
    hr
      border: 1px solid $verde-claro
      width: 100%
    section.copyright
      p
        color: $verde-claro
        font-size: 75%
        margin: 10px auto
        text-align: center


@media all and (min-width: 360px)
  #header
    .nav-toggle.expanded
      left: 320px


//TABLETS
@media all and (min-width: 737px)
  .desktop
    display: none
  .tablet
    display: block

  #header
    .nav-toggle.expanded
      left: 710px
    div.menu
      nav
        padding: 300px 0 50px
        ul
          li
            a , span
              font-size: 150%

        section
          left: 50%
          position: absolute
          transform: translateX(-50%)
        section:nth-child(2)
          bottom: 100px
          img
            width: 20%
        section:last-child
          bottom: 0

  section
    #banner-principal::after
      left: -304px
    #banner-principal
      section.contenido-texto-banner
        span
          top: -65px
        section
          padding: 60px 20px
          width: 60%
          p
            font-size: 130%
    #bienvenida
      section
        &:first-child
          height: 245px
          span
            right: auto
          p
            float: right
            width: 50%
        &:nth-child(2)
          section
            span
              right: 140px
        &:last-child
          width: 50%
          p
            text-align: left
    #servicios
      height: 400px
      section
        &:last-child
          bottom: 0
          left: auto
          padding: 20px
          right: 0
          transform: none
          width: 41%
    #habitaciones
      height: 390px
      margin: 0 auto
      position: relative
      width: 88%
      section
        &:first-child
          margin: 10px auto 50px
          h2
            margin: 0
            text-align: left
          span
            left: 90px
            right: 0
            top: 38px
        &:nth-child(2)
          height: auto
          width: 50%
          span
            bottom: -20px
            left: auto
            transform: none
            right: 0
        &:last-child
          position: absolute
          right: 0
          top: 120px
          width: 40%
          p
            text-align: left
          a
            float: left
    #slogan
      height: 200px
      width: 70%

  footer::before
    left: -300px
  footer
    section:first-child
      height: 400px
      section
        float: left
        height: auto
        width: 50%
        section
          float: none
          width: 100%









@media all and (min-width: 1024px)
  .desktop
    display: block
  .tablet
    display: none

  #header
    .nav-toggle.expanded
      left: 560px
    #contenedor-velo
      background-color: transparent
    #contenedor-velo.expanded
      background-color: rgba(71, 0, 82, 0.4)
    div.menu
      nav
        padding: 68px 0 50px
        width: 60%
        ul
          li
            a , span
              font-size: 120%
        section:last-child
          @include flexBox
          div#redes-menu
            justify-content: flex-start
            width: 40%
            a
              margin: 5px



//DESKTOP
@media all and (min-width:1124px)

  #header
    .nav-toggle.expanded
      left: 760px
    div.menu
      nav
        ul
          li
            a , span
              font-size: 100%
        section:nth-child(2)
          bottom: 80px
        section:last-child
          div#contacto-menu
            align-self: center



//DESKTOP Hi-Res
@media all and (min-width:1440px)
