@font-face {
  font-family: 'madame';
  src: url("../fonts/madame-webfont.woff2") format("woff2"), url("../fonts/madame-webfont.woff") format("woff"), url("../fonts/Madame.ttf") format("truetype"); }
@font-face {
  font-family: 'playball';
  src: url("../fonts/playball-regular-webfont.woff2") format("woff2"), url("../fonts/playball-regular-webfont.woff") format("woff"), url("../fonts/Playball-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'allura';
  src: url("../fonts/allura-regular-webfont.woff2") format("woff2"), url("../fonts/allura-regular-webfont.woff") format("woff"), url("../fonts/Allura-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Arsenal-Italic';
  src: url("../fonts/arsenal-italic-webfont.woff2") format("woff2"), url("../fonts/arsenal-italic-webfont.woff") format("woff"), url("../fonts/Arsenal-Italic.ttf") format("truetype"); }
@font-face {
  font-family: 'Arsenal-bold';
  src: url("../fonts/arsenal-bold-webfont.woff2") format("woff2"), url("../fonts/arsenal-bold-webfont.woff") format("woff"), url("../fonts/Arsenal-Bold.otf") format("otf"); }
@font-face {
  font-family: 'Arsenal-Regular';
  src: url("../fonts/arsenal-regular-webfont.woff2") format("woff2"), url("../fonts/arsenal-regular-webfont.woff") format("woff"), url("../fonts/Arsenal-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'blackjack';
  src: url("../fonts/blackjack-webfont.woff2") format("woff2"), url("../fonts/blackjack-webfont.woff") format("woff"); }
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:active, a:hover {
    outline-width: 0; }

abbr[title] {
  border-bottom: 0;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template, [hidden] {
  display: none; }

h1 {
  margin: 0; }

h2 {
  font-family: "madame";
  font-size: 370%; }

p {
  font-size: 150%;
  font-family: "Arsenal-Regular"; }

.desktop, .tablet {
  display: none; }

section {
  position: relative; }
  section h2 {
    color: #470052; }
  section #banner-principal-finestra {
    background-image: url("../images/fotografia/bg-luna-piena.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 3px;
    background-size: cover;
    height: 100vh;
    margin: 0;
    position: relative;
    z-index: 1; }
    section #banner-principal-finestra aside {
      align-content: center;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      flex-flow: row wrap;
      height: auto;
      position: fixed;
      right: 0;
      top: 25%;
      transform: translateY(-25%);
      width: 60px;
      z-index: 3; }
      section #banner-principal-finestra aside a:hover {
        border: 0;
        padding: 0; }
      section #banner-principal-finestra aside a img {
        display: block;
        margin: 7px auto 0;
        width: 70%; }
    section #banner-principal-finestra section.contenido-texto-banner {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: auto;
      position: absolute;
      width: 100%; }
      section #banner-principal-finestra section.contenido-texto-banner span {
        background-image: url("../images/icono-finestra-blanco.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 3px;
        left: 50%;
        transform: translateX(-50%);
        bottom: -80px;
        height: 90px;
        position: absolute;
        width: 20%;
        z-index: 1; }
      section #banner-principal-finestra section.contenido-texto-banner section {
        margin: 0 auto;
        width: 80%; }
        section #banner-principal-finestra section.contenido-texto-banner section h2 {
          color: #fff;
          font-size: 470%;
          font-family: "blackjack";
          line-height: 0.8;
          text-align: center; }
    section #banner-principal-finestra a span {
      background-image: url("../images/icono-abajo.png");
      bottom: 40px;
      display: block;
      height: 48px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin: 3px;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      width: 65px; }
  section #banner-principal-finestra::before {
    background-color: rgba(71, 0, 82, 0.4);
    content: "";
    display: block;
    height: 100%; }
  section #banner-principal-finestra::after {
    content: url("../images/cenefa.png");
    bottom: -5px;
    left: -733px;
    position: absolute;
    width: 100%; }
  section #bienvenida-finestra {
    height: 230px;
    margin: 0 auto;
    position: relative;
    width: 80%; }
    section #bienvenida-finestra section {
      padding: 20px 0;
      z-index: 1; }
      section #bienvenida-finestra section h2 {
        color: #333333;
        font-family: "allura";
        font-size: 180%;
        margin: 30px auto;
        text-align: center; }
    section #bienvenida-finestra div span {
      position: absolute; }
      section #bienvenida-finestra div span img {
        width: 30%; }
      section #bienvenida-finestra div span:first-child {
        left: 0; }
      section #bienvenida-finestra div span:nth-child(2) {
        right: 0; }
      section #bienvenida-finestra div span:nth-child(3) {
        left: 0; }
      section #bienvenida-finestra div span:last-child {
        right: 0; }
  section #ubicacion {
    height: auto; }
    section #ubicacion section:first-child {
      position: relative; }
      section #ubicacion section:first-child span {
        background-color: #00A06D;
        bottom: 0;
        height: 200px;
        left: 40px;
        opacity: 0.7;
        position: absolute;
        width: 200px; }
      section #ubicacion section:first-child section {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 3px 5px 8px #ccc;
        height: auto;
        margin: 0 auto;
        padding: 20px;
        width: 62%;
        z-index: 1; }
        section #ubicacion section:first-child section p {
          text-align: center; }
    section #ubicacion section:last-child section iframe {
      height: 300px;
      width: 100%; }
  section #pet {
    align-content: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    flex-flow: row wrap;
    margin: 100px auto 0;
    width: 80%; }
    section #pet section:first-child p {
      margin: 10px auto 40px;
      text-align: left; }
    section #pet section:last-child {
      position: relative; }
      section #pet section:last-child span {
        background-color: #00A06D;
        bottom: -20px;
        height: 50px;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        width: 200px; }
      section #pet section:last-child img {
        position: relative;
        width: 100%; }
  section #galeria-finestra {
    height: auto;
    align-content: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    flex-flow: row wrap;
    margin: 100px auto 70px;
    position: relative; }
    section #galeria-finestra section:first-child {
      width: 100%; }
      section #galeria-finestra section:first-child div.img-galeria-hab {
        background-image: url("../images/fotografia/bg-principal-hab.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 3px;
        margin: 0;
        background-size: cover;
        height: 500px;
        width: 100%; }
      section #galeria-finestra section:first-child .owl-theme .owl-nav {
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%; }
      section #galeria-finestra section:first-child .owl-theme .owl-nav button {
        width: 45%; }
        section #galeria-finestra section:first-child .owl-theme .owl-nav button span {
          display: block;
          height: 50px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          margin: 3px;
          width: 50px; }
        section #galeria-finestra section:first-child .owl-theme .owl-nav button span.btn-anterior {
          background-image: url("../images/anterior.png"); }
        section #galeria-finestra section:first-child .owl-theme .owl-nav button span.btn-siguiente {
          background-image: url("../images/siguiente.png");
          float: right; }
      section #galeria-finestra section:first-child .owl-theme .owl-nav [class*=owl-]:hover {
        background: transparent; }
      section #galeria-finestra section:first-child .owl-theme .owl-dots {
        display: none; }
    section #galeria-finestra #como-llegar::before {
      border-bottom: 61px solid #33CC99;
      border-left: 693px solid transparent;
      content: "";
      height: 0;
      left: 0;
      position: absolute;
      top: -60px;
      width: 0; }
    section #galeria-finestra #como-llegar {
      background-color: #33CC99;
      height: auto;
      width: 100%;
      z-index: 1; }
      section #galeria-finestra #como-llegar section:first-child {
        margin: 20px auto;
        width: 80%;
        z-index: 2; }
        section #galeria-finestra #como-llegar section:first-child h2 {
          color: #fff;
          line-height: 0.7;
          text-align: center; }
        section #galeria-finestra #como-llegar section:first-child p {
          color: #fff;
          font-size: 150%;
          margin: 10px auto;
          text-align: center; }
      section #galeria-finestra #como-llegar section:last-child section.transporte {
        background-color: #fff;
        border-radius: 5px;
        height: 200px;
        margin: 100px auto;
        position: relative;
        transform: rotate(45deg);
        width: 200px; }
        section #galeria-finestra #como-llegar section:last-child section.transporte div {
          background-color: #584880;
          border-radius: 5px;
          bottom: 18px;
          height: 166px;
          margin: 0 auto;
          position: absolute;
          right: 18px;
          transform: rotate(360deg);
          width: 166px; }
          section #galeria-finestra #como-llegar section:last-child section.transporte div p {
            color: #fff;
            font-size: 115%;
            left: -2px;
            margin: 0;
            position: absolute;
            top: 30px;
            text-align: center;
            transform: rotate(-45deg); }
          section #galeria-finestra #como-llegar section:last-child section.transporte div img {
            transform: rotate(-45deg);
            margin-left: 50px;
            margin-top: 65px;
            width: 60%; }
      section #galeria-finestra #como-llegar section:last-child section.transporte:nth-child(2) div img {
        margin-top: 77px;
        margin-left: 55px; }
      section #galeria-finestra #como-llegar section:last-child section.transporte:last-child div img {
        margin-top: 48px;
        margin-left: 50px; }
  section #formulario-contacto {
    height: auto;
    margin: 0 auto 100px;
    width: 80%; }
    section #formulario-contacto h2 {
      background-color: #038A6E;
      border-radius: 5px;
      color: #fff;
      padding: 15px 30px;
      text-align: center; }
    section #formulario-contacto p {
      color: #333333;
      margin: 20px auto 50px;
      text-align: center; }
    section #formulario-contacto section:last-child {
      height: auto;
      margin: 20px auto;
      width: 100%; }
      section #formulario-contacto section:last-child form {
        margin: 0 auto;
        width: 90%; }
        section #formulario-contacto section:last-child form label {
          color: #333333;
          display: block;
          font-family: "Arsenal-Regular";
          font-size: 150%;
          height: 80px;
          padding-bottom: 5px;
          width: 100%; }
          section #formulario-contacto section:last-child form label input {
            border: 1px solid #470052;
            border-radius: 5px;
            height: 40px;
            padding-left: 5px;
            width: 100%; }
        section #formulario-contacto section:last-child form button {
          background-color: #33CC99;
          -webkit-appearance: none;
          border-radius: 5px;
          border: 1px solid #470052;
          color: #470052;
          display: block;
          height: 35px;
          margin: 20px auto 0;
          text-align: center;
          transition-duration: 0.8s;
          width: 130px;
          color: #fff;
          border: 0; }
          section #formulario-contacto section:last-child form button:hover {
            background-color: #470052;
            border: 0;
            color: #fff;
            padding: 0; }
  section #hojas-f span {
    position: absolute;
    right: -260px; }
    section #hojas-f span:first-child, section #hojas-f span:nth-child(2) {
      top: 420px; }
      section #hojas-f span:first-child img, section #hojas-f span:nth-child(2) img {
        width: 20%; }
    section #hojas-f span:first-child, section #hojas-f span:nth-child(3) {
      right: auto;
      left: 0; }
    section #hojas-f span:nth-child(3) img, section #hojas-f span:nth-child(4) img {
      width: 30%; }
    section #hojas-f span:first-child {
      top: 860px; }
    section #hojas-f span:nth-child(2) img {
      transform: scale(1, -1); }
    section #hojas-f span:nth-child(3) {
      top: 660px; }
      section #hojas-f span:nth-child(3) img {
        transform: scaleX(-1); }
    section #hojas-f span:nth-child(4) {
      top: 1080px; }
    section #hojas-f span:nth-child(7) {
      right: 150px; }
      section #hojas-f span:nth-child(7) img {
        transform: scaleX(-1); }

@media all and (min-width: 360px) {
  section #bienvenida-finestra section h2 {
    width: 80%; }
  section #ubicacion section:first-child span {
    height: 186px;
    left: 60px; }
  section #ubicacion section:first-child section {
    width: 56%; }
  section #galeria-finestra #como-llegar section:first-child {
    margin: 50px auto 0; }
  section #hojas-f span:first-child {
    top: 840px; }
  section #hojas-f span:nth-child(2) {
    top: 620px; }
  section #hojas-f span:nth-child(3) {
    top: 700px; }
  section #hojas-f span:nth-child(4) {
    top: 1100px; } }
@media all and (min-width: 480px) {
  section #banner-principal-finestra a span {
    bottom: 30px; }
  section #banner-principal-finestra::after {
    left: -663px; }
  section #bienvenida-finestra section:nth-child(2) section span {
    right: 43px; }
  section #hojas-f span:first-child {
    top: 270px; }
  section #hojas-f span:nth-child(2) {
    top: 250px; }
  section #hojas-f span:nth-child(3) {
    top: 370px; }
  section #hojas-f span:nth-child(4) {
    top: 230px; } }
@media all and (min-width: 568px) {
  section #ubicacion section:first-child span {
    height: 161px;
    left: 73px;
    width: 200px; } }
@media all and (min-width: 737px) {
  .desktop {
    display: none; }

  .tablet {
    display: block; }

  section p {
    font-size: 150%; }
  section #banner-principal-finestra::after {
    left: -480px; }
  section #banner-principal-finestra section.contenido-texto-banner span {
    bottom: -35px;
    width: 15%; }
  section #banner-principal-finestra section.contenido-texto-banner section {
    padding: 60px 20px;
    width: 60%; }
    section #banner-principal-finestra section.contenido-texto-banner section p {
      font-size: 130%; }
  section #bienvenida-finestra section h2 {
    font-size: 250%;
    width: 60%; }
  section #ubicacion {
    height: 650px;
    position: relative; }
    section #ubicacion section:first-child {
      height: 330px;
      width: 100%; }
      section #ubicacion section:first-child span {
        height: 300px;
        left: 50%;
        transform: translateX(-50%);
        width: 400px; }
      section #ubicacion section:first-child section {
        height: 270px;
        padding: 40px;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        width: 340px; }
    section #ubicacion section:last-child {
      bottom: 0;
      position: absolute;
      width: 100%; }
  section #pet {
    width: 87%; }
    section #pet section {
      align-content: center;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center; }
      section #pet section:first-child {
        flex-direction: column;
        width: 40%; }
      section #pet section:last-child {
        width: 60%; }
        section #pet section:last-child span {
          left: -30px;
          transform: none; }
  section #galeria-finestra #como-llegar::before {
    border-bottom: 62px solid #33CC99;
    border-left: 793px solid transparent; }
  section #galeria-finestra #como-llegar {
    height: 310px;
    margin-bottom: 150px; }
    section #galeria-finestra #como-llegar section:last-child {
      align-content: center;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      position: absolute;
      width: 100%; }
  section #hojas-f span:first-child {
    left: 110px;
    top: 1290px; }
    section #hojas-f span:first-child img {
      width: 30%; }
  section #hojas-f span:nth-child(2) {
    right: -130px;
    top: 1000px; }
    section #hojas-f span:nth-child(2) img {
      width: 30%; }
  section #hojas-f span:nth-child(3) {
    top: 1100px; }
    section #hojas-f span:nth-child(3) img {
      width: 50%; }
  section #hojas-f span:nth-child(4) {
    right: -180px;
    top: 1540px; }
    section #hojas-f span:nth-child(4) img {
      width: 50%; } }
@media all and (min-width: 1024px) {
  .desktop {
    display: block; }

  .tablet {
    display: none; }

  section #banner-principal-finestra::after {
    left: -361px; }
  section #banner-principal-finestra section.contenido-texto-banner section {
    width: 40%; }
  section #banner-principal-finestra section.contenido-texto-banner span {
    bottom: -20px;
    width: 10%; }
  section #banner-principal-finestra section.contenido-texto-banner section::after {
    content: url("../images/deco-titulos.png");
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute; }
  section #banner-principal-finestra aside {
    top: 50%;
    transform: translateY(-50%); }
  section #ubicacion {
    height: 580px; }
    section #ubicacion section:first-child {
      height: 290px; }
      section #ubicacion section:first-child span {
        height: 280px;
        left: 50%;
        transform: translateX(-50%);
        right: auto;
        width: 400px; }
      section #ubicacion section:first-child section {
        height: 340px;
        left: 50%;
        transform: translateX(-50%);
        top: 40px;
        width: 340px; }
        section #ubicacion section:first-child section p {
          font-size: 170%; }
  section #pet {
    height: 490px; }
    section #pet section:first-child {
      bottom: 0;
      left: 0;
      position: absolute; }
    section #pet section:last-child {
      position: absolute;
      right: 0;
      top: 0; }
      section #pet section:last-child span {
        left: 30px; }
      section #pet section:last-child img {
        width: 80%; }
  section #galeria-finestra #como-llegar::before {
    border-left: 1033px solid transparent; }
  section #galeria-finestra #como-llegar section:first-child {
    margin: 20px 50px 0 420px;
    width: 60%; }
  section #formulario-contacto {
    align-content: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    flex-flow: row wrap;
    height: 620px;
    margin: 0 auto 150px;
    width: 85%; }
    section #formulario-contacto section:first-child {
      border-right: 0;
      margin: 20px auto;
      position: absolute;
      top: 0;
      width: 100%; }
      section #formulario-contacto section:first-child h2 {
        width: 50%; }
      section #formulario-contacto section:first-child p {
        float: right;
        text-align: right;
        width: 45%; }
    section #formulario-contacto section:last-child {
      bottom: 0;
      position: absolute;
      width: 100%; }
      section #formulario-contacto section:last-child form {
        float: left;
        width: 50%; }
        section #formulario-contacto section:last-child form button {
          float: left; }
  section #hojas-f span:first-child {
    left: 110px;
    top: 1000px; }
  section #hojas-f span:nth-child(2) {
    right: -80px;
    top: 720px; }
  section #hojas-f span:nth-child(3) {
    top: 830px; }
  section #hojas-f span:nth-child(4) {
    top: 1110px; }
  section #hojas-f span:nth-child(5) {
    left: 0;
    top: 1370px; }
    section #hojas-f span:nth-child(5) img {
      width: 15%; }
  section #hojas-f span:nth-child(6) {
    right: 0;
    top: 4140px; }
    section #hojas-f span:nth-child(6) img {
      width: 100%; }
  section #hojas-f span:nth-child(7) {
    top: 2250px; }
    section #hojas-f span:nth-child(7) img {
      width: 40%; } }
@media all and (min-width: 1124px) {
  section #banner-principal-finestra::after {
    left: -155px; }
  section #banner-principal-finestra section.contenido-texto-banner section {
    width: 60%; }
    section #banner-principal-finestra section.contenido-texto-banner section h2 {
      font-size: 600%; }
  section #banner-principal-finestra section.contenido-texto-banner section::after {
    bottom: 50px; }
  section #banner-principal-finestra section.contenido-texto-banner span {
    width: 7%; }
  section #bienvenida-finestra {
    height: auto;
    margin: 0 auto 150px;
    width: 80%; }
    section #bienvenida-finestra section {
      padding: 80px 0; }
      section #bienvenida-finestra section h2 {
        font-size: 320%;
        width: 50%; }
  section #ubicacion section:first-child span {
    height: 320px; }
  section #ubicacion section:first-child section {
    top: 0; }
  section #pet section:first-child p {
    float: left;
    margin: 0;
    width: 75%; }
  section #galeria-finestra #como-llegar::before {
    border-left: 1623px solid transparent; }
  section #galeria-finestra #como-llegar section:first-child {
    float: right;
    margin: 20px 230px;
    width: 40%; }
    section #galeria-finestra #como-llegar section:first-child h2 {
      text-align: right; }
    section #galeria-finestra #como-llegar section:first-child p {
      text-align: right; }
  section #galeria-finestra #como-llegar section:last-child {
    margin-top: 112px; }
  section #formulario-contacto section:first-child p {
    margin-right: 50px;
    width: 35%; }
  section #formulario-contacto section:last-child form {
    width: 40%; }
  section #hojas-f span:first-child {
    left: 100px;
    top: 1010px; }
    section #hojas-f span:first-child img {
      width: 70%; }
  section #hojas-f span:nth-child(2) {
    right: -130px;
    top: 690px; }
  section #hojas-f span:nth-child(3) {
    left: 130px;
    top: 980px; }
    section #hojas-f span:nth-child(3) img {
      width: 30%; }
  section #hojas-f span:nth-child(4) {
    right: 0;
    top: 1470px; }
    section #hojas-f span:nth-child(4) img {
      width: 70%; }
  section #hojas-f span:nth-child(5) {
    left: 0;
    top: 1525px; }
    section #hojas-f span:nth-child(5) img {
      width: 13%; }
  section #hojas-f span:nth-child(6) {
    top: 4630px; }
  section #hojas-f span:nth-child(7) {
    right: 430px;
    top: 2280px; }
    section #hojas-f span:nth-child(7) img {
      width: 50%; } }

/*# sourceMappingURL=finestra.css.map */
