@charset "utf-8";

@font-face {
  font-family: 'madame';
  src: url('../fonts/madame-webfont.woff2') format('woff2'),
       url('../fonts/madame-webfont.woff') format('woff'),
       url('../fonts/Madame.ttf') format('truetype');
}

@font-face {
  font-family: 'playball';
  src: url('../fonts/playball-regular-webfont.woff2') format('woff2'),
       url('../fonts/playball-regular-webfont.woff') format('woff'),
       url('../fonts/Playball-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'allura';
  src: url('../fonts/allura-regular-webfont.woff2') format('woff2'),
       url('../fonts/allura-regular-webfont.woff') format('woff'),
       url('../fonts/Allura-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Arsenal-Italic';
  src: url('../fonts/arsenal-italic-webfont.woff2') format('woff2'),
       url('../fonts/arsenal-italic-webfont.woff') format('woff'),
       url('../fonts/Arsenal-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Arsenal-bold';
  src: url('../fonts/arsenal-bold-webfont.woff2') format('woff2'),
       url('../fonts/arsenal-bold-webfont.woff') format('woff'),
       url('../fonts/Arsenal-Bold.otf') format('otf');
}

@font-face {
  font-family: 'Arsenal-Regular';
  src: url('../fonts/arsenal-regular-webfont.woff2') format('woff2'),
       url('../fonts/arsenal-regular-webfont.woff') format('woff'),
       url('../fonts/Arsenal-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'blackjack';
  src: url('../fonts/blackjack-webfont.woff2') format('woff2'),
       url('../fonts/blackjack-webfont.woff') format('woff');
}
