@mixin backgroundImage{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
	margin: 3px;
}


@mixin flexBox{
	align-content: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

@mixin centrarVerticalmente{
  top: 50%;
  transform: translateY(-50%);
}

@mixin centrarHorizontalmente{
  left: 50%;
  transform: translateX(-50%);
}

@mixin centrarVH{
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
}

@mixin separador{
  background-image: url("../images/separador.png");
  display: block;
  height: 173px;
  position: absolute;
  right: 40px;
  width: 290px;
}

@mixin verMas{
  border-radius: 5px;
  border: 1px solid $morado;
  color: $morado;
  display: block;
  height: 35px;
  margin: 20px auto 0;
  text-align: center;
  transition-duration: 0.8s;
  width: 130px;
  &:hover{
    background-color: $morado;
    border: 0;
    color: #fff;
    padding: 0;
  }
}

@mixin animate($name, $duration, $iteration, $direction) {
	-webkit-animation-duration: $duration;
	   -moz-animation-duration: $duration;
	     -o-animation-duration: $duration;
		    animation-duration: $duration;

	-webkit-animation-iteration-count: $iteration;
	   -moz-animation-iteration-count: $iteration;
	     -o-animation-iteration-count: $iteration;
	        animation-iteration-count: $iteration;

	-webkit-animation-name: $name;
	   -moz-animation-name: $name;
	     -o-animation-name: $name;
	        animation-name: $name;

	-webkit-animation-direction: $direction;
	   -moz-animation-direction: $direction;
	     -o-animation-direction: $direction;
		    animation-direction: $direction;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@include keyframes(flechaMov) {
	from {
		bottom: 40px;
    opacity: 0;
	}

	to {
		bottom: 30px;
    opacity: 1;
	}
}

@mixin flechaMov {
	@include animate(flechaMov, 0.6s, infinite, alternate);
}
