.icono6, .icono5, .icono3, .icono4, .icono1,
.icono2
{ display: inline-block; background: url('../images/sprite-alfin.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

.icono6 { background-position: -20px -0px; width: 115px; height: 111px; }
.icono5 { background-position: -20px -131px; width: 103px; height: 111px; }
.icono3 { background-position: -20px -262px; width: 73px; height: 73px; }
.icono4 { background-position: -20px -355px; width: 73px; height: 73px; }
.icono1 { background-position: -20px -448px; width: 67px; height: 66px; }
.icono2 { background-position: -20px -534px; width: 67px; height: 66px; }
